/* Correções para TODOS os dispositivos móveis - Prevenir zoom e desproporção */

/* Prevenir zoom automático em todos os dispositivos */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation; /* Prevenir zoom em double-tap */
}

/* Garantir que inputs não causem zoom (iOS e Android) */
input, textarea, select {
  font-size: 16px !important; /* Dispositivos móveis só fazem zoom se font-size < 16px */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Prevenir zoom ao focar */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Correção para TODOS os dispositivos móveis */
@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* Prevenir zoom */
    touch-action: manipulation;
    -ms-touch-action: manipulation;
  }
  
  body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    /* Prevenir zoom */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    touch-action: manipulation;
  }
  
  #root {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    /* Garantir proporção correta */
    position: relative;
  }
  
  /* Prevenir zoom em todos os elementos */
  * {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

/* Suporte para safe-area (notch) - iPhone e Android modernos */
@supports (padding: max(0px)) {
  body {
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
  }
}

/* Garantir que imagens não causem overflow */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Correção para iframes (YouTube) */
iframe {
  max-width: 100%;
  border: none;
  display: block;
}

/* Prevenir zoom em botões e links */
button, a {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* Garantir que containers não ultrapassem a largura da tela */
.container, .container-fluid {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Correção específica para telas muito grandes (tablets em modo retrato) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  
  body {
    width: 100vw;
    max-width: 100vw;
  }
}

